<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <packages>
    <package id="MSTest.TestAdapter" version="1.1.11" targetFramework="net452" />
    <package id="MSTest.TestFramework" version="1.1.11" targetFramework="net452" />
  </packages>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="clientDependency" type="ClientDependency.Core.Config.ClientDependencySection, ClientDependency.Core" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <connectionStrings>
    <add name="BlablablaSitioEntities" connectionString="metadata=res://*/Datos.DbBlablabla.csdl|res://*/Datos.DbBlablabla.ssdl|res://*/Datos.DbBlablabla.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=sql5024.smarterasp.net;initial catalog=DB_9F97CF_BlablablaSitio;persist security info=True;user id=DB_9F97CF_BlablablaSitio_admin;password=Grapesoft07.;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v13.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  
  
</configuration>